.wrapper {
  width: 100%;
  height: 100%;
}

.el-tabs--border-card>.el-tabs__content {
  padding: 0;
}

.mainBar {
  /* border: 10px solid #F2F4F6; */
  border-top: none;
  padding:10px;
}

.el-tabs__content,
.el-tab-pane {
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
}

.el-tabs {
  width: 100%;
  height: 100%;
}

.el-tabs__header {
  margin: 0 0 10px;
}