<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vue-Demo 测试</title>
    <link rel='stylesheet' type="text/css" th:href='@{/vue/element-ui.css}'/>

    <script type='text/javascript' th:src='@{/ecej/core/jquery-3.2.0.min.js}'></script>
    <script type='text/javascript' th:src='@{/vue/element-ui.min.js}'></script>
    <script type='text/javascript' th:src='@{/vue/axios.js}'></script>
    <script type='text/javascript' th:src='@{/js/vue/vue_demo01.js}'></script>

</head>
<body>
<p>1</p>
</body>
</html>